---
import { SEO } from 'astro-seo';
import { Icon } from 'astro-icon'
import { Breadcrumb, CodeCopy, IconSwitch } from 'astro-headless-ui';
import Navbar from '@/components/Navbar.astro';
import Footer from '@/components/Footer.astro';
import TableOfContents from '@/components/TableOfContents.astro';
import ScrollToTop from '@/components/ScrollToTop.astro';
import { SEODefault } from '@/config';
import type { MarkdownLayout } from '@/types';
import '@/css/markdown.scss'

const  {
	breadcrumb=true,
	scroll=true,
	headings,
    SEO: _SEO = {
        ...SEODefault(Astro)
    }
} = Astro.props
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <SEO {..._SEO}/>
        <slot name="head"/>
	</head>
	<body>
		<Navbar />
		{ breadcrumb &&
			<nav id="_breadcrumb" class="touch-target">
				<Breadcrumb index={false} collapse>
					{url => (<a href={url.href[0]==='/'?url.href:'/'+url.href}>{url.text}</a><span>/</span>)}
					<index slot="docs">{() => (<a href="/docs">Docs</a><span>/</span>)}</index>
					<Fragment slot="disabled"><span>...</span><span>/</span></Fragment>
				</Breadcrumb>
			</nav>
		}
		<aside id="_sidebar-left">
			{headings && <TableOfContents item='span' url={Astro.url.pathname} max={3} headings={headings}/>}
			<slot name="sidebar-left"/>
		</aside>
		<main class="markdown" data-pagefind-body>
			<slot />
		</main>
		<aside id="_sidebar-right">
			{scroll && <ScrollToTop />}
			{headings && <TableOfContents open item='span' title="On This Page" url={Astro.url.pathname} max={3} headings={headings}/>}
			<slot name="sidebar-right"/>
		</aside>
		<Footer />
		<CodeCopy padding=".375em" class="copy-code">
			<IconSwitch name="copy-icons" selector="button.copied" size="1.5rem" style="margin-top:-1px">
				<Icon name="fluent:clipboard-20-regular"/>
				<Icon name="fluent:clipboard-task-20-regular"/>
			</IconSwitch>
		</CodeCopy>
		<script is:inline>
			const e = document.querySelector('#_sidebar-right .table-of-contents')||null
			let last;
			e.open = !(window.innerWidth < 1024)
			window.addEventListener('resize', function() {
				const w = window.innerWidth
				if (last !== w) e.open = !(w < 1024)
				last = w
			});
		</script>
		<script is:inline>
			if (window.netlifyIdentity) {
			  window.netlifyIdentity.on("init", user => {
				if (!user) {
				  window.netlifyIdentity.on("login", () => {
					document.location.href = "/admin/";
				  });
				}
			  });
			}
		</script>
	</body>
</html>